<section class="page-header">
    <div class="overlay">
        <div class="container">
            <h1 class="page-title m-b-10">About Us</h1>
            <p>We will bring your ideas to life</p>
        </div>
    </div>
</section>
<section class="page-container about-us-page p-b-0">
    <div class="our-company">
        <div class="container">
            <div class="section-title">
                <h2>Our Company</h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="company-intro m-b-30">
                        <h4>We Love What We Do</h4>
                        <p ng-bind-html="aboutUsCmsPage.cmsLongDesc | unsafe"></p>
                    </div>
                </div>
            </div>
            <div class="creative-designs m-t-50">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4" ng-repeat="goal in allGoals track by $index" ng-if="goal.isGoal">
                        <div class="about-us-icon-box m-b-25">
                            <h4><span class="circle-icon"><i class="fa fa-star-o" aria-hidden="true"></i> </span>{{goal.goalTitle}}</h4>
                            <p class="feature-desc" ng-bind-html="goal.goalDesc | unsafe"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="testimonial-section">
        <div class="container">
            <div class="section-title">
                <h2>What Our Clients Say</h2>
            </div>
            <div class="client-slider">
                <div class="owl-demo owl-carousel owl-theme">
                    <div class="testimonial item" ng-repeat="feedback in feedbacks track by $index">
                        <div class="testimonial-img"><img ng-src="{{feedback.productThumbImageRandom}}" class="img-responsive" alt=""></div>
                        <h4 class="testimonial-by">{{feedback.clientName}} - <span class="designation">{{feedback.clientPosition}}</span></h4>
                        <p ng-bind-html="feedback.clientFeedback | unsafe"></p>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>