

<section class="full-height-section banner-slider" ng-if="allProducts.length > 0">
    <div id="owl-demo" class="owl-carousel owl-theme">

        <div ng-repeat="product in allProducts track by $index" ng-if="product.showOnHomePage && product.productHomePageImageRandom" class="item" style="background-image:url('{{product.productHomePageImageRandom}}'); background-repeat: no-repeat; background-size: cover;">

            <div class="container">
                <div class="row">

                    <h1 class="banner-content" ng-bind="product.productName"></h1>
                    <div class="get-quote"><a ng-href="#/product/{{product.productId}}" class="btn btn-md btn-inverse btn-border m-t-10">Read More</a></div>		
                </div>	
            </div>

        </div>

    </div>
</section>
<section class="choose-roofing-section">
    <div class="container">
        <div class="section-title">
            <h2>Why we?</h2>
        </div>
        <!--<span class="icon m-b-20"><a href="javascript:void(0)"><i class="fa fa-star-o" aria-hidden="true"></i></a></span>-->
<!--         <span class="icon m-b-20"><a href="javascript:void(0)"><i class="fa fa-pencil" aria-hidden="true"></i></a></span>
         <span class="icon m-b-20"><a href="javascript:void(0)"><i class="fa fa-wrench" aria-hidden="true"></i></a></span>
         <span class="icon m-b-20"><a href="javascript:void(0)"><i class="fa fa-list-alt" aria-hidden="true"></i></a></span>-->
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="goal in allGoals track by $index" ng-if="!goal.isGoal">
                <div class="icon-box m-b-40 text-center">
                    <span class="icon m-b-20"><a href="javascript:void(0)"><i class="fa fa-star-o" aria-hidden="true"></i></a></span>
                    <div class="content">
                        <h4><a href="javascript:void(0)">{{goal.goalTitle}}</a></h4>
                        <p ng-bind-html="goal.goalDesc | unsafe"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="planet-section">
    <div class="overlay">
        <div class="container">
            <h2>Who we are?</h2>
            <p ng-bind-html="aboutUsCmsPage.cmsShortDesc | unsafe"></p>
            <a href="#/about-us" class="btn btn-md btn-inverse m-t-40">Read More</a>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="section-title">
            <h2>Featured Products</h2>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3" ng-repeat="product in allProducts track by $index" ng-if="($index <= 3) && (product.showOnHomePage) && (product.productThumbImageRandom)">
                <article class="post-entry">
                    <div class="article-img"><img ng-src="{{product.productThumbImageRandom}}" alt=""></div>
                    <h4 class="entry-title m-b-20"><a ng-href="#/product/{{product.productId}}">{{product.productName}}</a></h4>
                     
                    <p ng-bind-html="product.productShortDesc | unsafe"></p>
                    <a ng-href="#/product/{{product.productId}}" class="btn btn-sm btn-normal btn-border m-t-20">Read More</a>
                </article>
            </div>
        </div>
        <div class="text-center m-t-30 m-b-20"><a ng-href="#/products" class="btn btn-lg btn-normal">View All Products</a></div>
    </div>
</section>
<!--         <section class="quote-form">
            <div class="container">
               <div class="section-title">
                  <h2>Get A Free Quote</h2>
               </div>
               <div class="quote-form-entry">
                  <form>
                     <div class="row">
                        <div class="col-md-6 form-group"><input placeholder="First Name" class="form-control" type="text"></div>
                        <div class="col-md-6 form-group"><input placeholder="Last Name" class="form-control" type="text"></div>
                     </div>
                     <div class="row">
                        <div class="col-md-6 form-group"><input placeholder="Mobile" class="form-control" type="text"></div>
                        <div class="col-md-6 form-group"><input placeholder="Phone" class="form-control" type="text"></div>
                     </div>
                     <div class="row">
                        <div class="col-md-6 form-group"><input placeholder="Email" class="form-control" type="email"></div>
                        <div class="col-md-6 form-group"><input placeholder="Issue" class="form-control" type="text"></div>
                     </div>
                     <textarea class="form-control" placeholder="Message" rows="3"></textarea>
                     <div class="button text-center m-t-30"><button class="btn btn-sm btn-normal">Get Quote</button></div>
                  </form>
               </div>
            </div>
         </section>-->

