<div class="col-md-12">
    <div class="box box-primary">
    create product or edit
        <!--    <div class="box-header with-border">
                <h3 class="box-title">City</h3>
            </div>-->
        <!-- /.box-header -->
        <!-- form start -->
<!--         <form class="form-horizontal" name="cityFrm">
            <div class="box-body">
                <div class="form-group">
                    <label for="country" class="col-sm-2 control-label">Country name</label>

                    <div class="col-sm-6" ng-class="{ 'has-error' : cityFrm.country.$invalid && cityFrm.country.$touched }">
                        <select class="form-control" ng-change="changeCountry()" id="country" ng-model="city.country" ng-options="x.name for x in countryList track by x._id" name="country" required>
                            <option value="" selected="selected">Select Country</option>
                        </select>
                        <div ng-messages="cityFrm.country.$error" ng-if="cityFrm.country.$touched">
                            <p class="help-block" ng-message="required">Country is required.</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="state" class="col-sm-2 control-label">State name</label>

                    <div class="col-sm-6" ng-class="{ 'has-error' : cityFrm.state.$invalid && cityFrm.state.$touched }">
                        <select class="form-control" id="state" name="state" ng-model="city.state" ng-options="x.name for x in stateList track by x._id" required>
                            <option value="" selected="selected">Select state</option>
                        </select>
                        <div ng-messages="cityFrm.state.$error" ng-if="cityFrm.state.$touched">
                            <p class="help-block" ng-message="required">State is required.</p>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">City name</label>

                    <div class="col-sm-6" ng-class="{ 'has-error' : cityFrm.name.$invalid && cityFrm.name.$touched }">
                        <input type="text" ng-model="city.name" class="form-control" name="name" id="name" placeholder="e.g. Mumbai" required>
                        <div ng-messages="cityFrm.name.$error" ng-if="cityFrm.name.$touched">
                            <p class="help-block" ng-message="required">City is required.</p>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-2">

                        <button ng-if="isUpdateMode" ng-click="updateCity()" class="btn btn-primary">Save</button>
                        <button ng-if="!isUpdateMode" ng-click="saveCity()" class="btn btn-primary">Save</button>
                        <a href="#city" class="btn btn-default">Cancel</a>
                    </div>
                </div>
            </div>
            <!-- /.box-footer -->
        </form> -->
    </div>
</div>