<div class="col-md-12">
    <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Product</h3>
            </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" name="productFrm">
            <div class="box-body">
                <div class="form-group">
                    <label for="productName" class="col-sm-2 control-label">Product name</label>

                    <div class="col-sm-6" ng-class="{ 'has-error' : productFrm.productName.$invalid && productFrm.productName.$touched }">
                       <input  class="form-control" type="text" name="productName" ng-model="product.productName" required/>
                        <div ng-messages="productFrm.productName.$error" ng-if="productFrm.productName.$touched">
                            <p class="help-block" ng-message="required">productName is required.</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="productShortDesc" class="col-sm-2 control-label">Product Short Desc</label>

                    <div class="col-sm-6" ng-class="{ 'has-error' : productFrm.productShortDesc.$invalid && productFrm.productShortDesc.$touched }">
                       <input  class="form-control" type="text" name="productShortDesc" ng-model="product.productShortDesc" required/>
                        <div ng-messages="productFrm.productShortDesc.$error" ng-if="productFrm.productShortDesc.$touched">
                            <p class="help-block" ng-message="required">productShortDesc is required.</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="productDesc" class="col-sm-2 control-label">Product Desc</label>

                    <div class="col-sm-6" ng-class="{ 'has-error' : productFrm.productDesc.$invalid && productFrm.productDesc.$touched }">
                       <input  class="form-control" type="text" name="productDesc" ng-model="product.productDesc" required/>
                        <div ng-messages="productFrm.productDesc.$error" ng-if="productFrm.productDesc.$touched">
                            <p class="help-block" ng-message="required">productDesc is required.</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="productThumbImage" class="col-sm-2 control-label">product Thumb Image</label>

                    <div class="col-sm-6">
                       <input  class="form-control" type="file" name="productThumbImage" ng-model="product.productThumbImage" onchange="angular.element(this).scope().setFiles(this,'productThumbImage')"/>
                       <span ng-if="product.productId" ng-bind="product.productThumbImage"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="productHomePageImage" class="col-sm-2 control-label">product Home Page Image</label>

                    <div class="col-sm-6">
                       <input  class="form-control" type="file" name="productHomePageImage" ng-model="product.productHomePageImage" onchange="angular.element(this).scope().setFiles(this,'productHomePageImage')"/>
                       <span ng-if="product.productId" ng-bind="product.productHomePageImage"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="productCatelog" class="col-sm-2 control-label">product Catlog</label>

                    <div class="col-sm-6">
                       <input  class="form-control" type="file" name="productCatelog" ng-model="product.productCatelog" onchange="angular.element(this).scope().setFiles(this,'productCatelog')"/>
                       <span ng-if="product.productId" ng-bind="product.productCatelog"></span>
                    </div>
                </div>
                 

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-2">

                        <button ng-if="product.productId" ng-click="updateProudct(product)" class="btn btn-primary">Update</button>
                        <button ng-if="!product.productId" ng-click="addProudct(product)" class="btn btn-primary">Save</button>
                        <a href="#/products" class="btn btn-default">Cancel</a>
                    </div>
                </div>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
</div>