<section class="page-header" style="background-image:url('{{product.productHomePageImageRandom}}'); background-repeat: no-repeat; background-size: cover;">
    <div class="overlay">
        <div class="container">
            <h1 class="page-title m-b-10" ng-bind="product.productName"></h1>
        </div>
    </div>
</section> 

<section class="page-container about-us-page p-b-0">
    <div class="our-company">
        <div class="container">
            <div class="section-title">
                <h2>Product Detail</h2>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="company-intro m-b-30 text-justify">
                        <!--<h4>We Love What We Do</h4>-->
                        <p>{{product.productDesc}}</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="company-image-slider">
                        <div class="owl-demo owl-carousel owl-theme">
                            <div class="item" ng-repeat="pImage in product.productImages">
                                <div class="company-image">
                                    <a class="grouped_elements" rel="group1" ng-href="{{pImage.imageRandom}}">
                                        <img ng-src="{{pImage.imageRandom}}" class="img-responsive" alt="">
                                    </a></div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
            <div class="creative-designs m-t-50">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="about-us-icon-box m-b-25">
                            <h4><span class="circle-icon"><i class="fa fa-star-o" aria-hidden="true"></i> </span>Creative Design</h4>
                            <p class="feature-desc">Magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi quis nostrud exercitation ullamco laboris nisi</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="about-us-icon-box m-b-25">
                            <h4><span class="circle-icon"><i class="fa fa-code"></i> </span>Creative Design</h4>
                            <p class="feature-desc">Magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi quis nostrud exercitation ullamco laboris nisi</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="about-us-icon-box m-b-25">
                            <h4><span class="circle-icon"><i class="fa fa-smile-o"></i> </span>Creative Design</h4>
                            <p class="feature-desc">Magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi quis nostrud exercitation ullamco laboris nisi</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="page-container about-us-page p-b-0">
    <div class="our-company">
        <div class="container">
            <div class="section-title">
                <h2>Download Brochure</h2>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-8">
                    <div class="company-intro m-b-30">
                        <!--<h4>We Love What We Do</h4>-->
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, odio, cumque. Soluta porro voluptatibus illo rerum ducimus ad error assumenda dignissimos aspernatur commodi mollitia asperiores doloribus, placeat veniam nam.

                            we would love to hear from you</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">

                    <div class="text-center m-t-20 m-b-20"><a ng-click="openForm()" class="btn btn-lg btn-normal">Download</a></div>

                </div>

            </div>

        </div>
    </div>

</section>