<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-body">
            <table class="table table-responsive">
                <thead>
                    <tr>
                         
                        <th>Newslatter eEmail Ids</th>
                          
                    </tr>
                    <tr>
                        <th>
                            <input ng-model="search.contactName" placeholder="search for name" class="input-sm form-control" type="search"/>
                        </th>
                        <th>
                            &nbsp;
                        </th>
                        <th>
                            &nbsp;
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="news in newslaters| filter:search as result track by $index ">
                        <td>{{news.newslattereEmailId}}</td> 
                    </tr>
                    <tr ng-if="!result.length">
                        <td>Data Not Found</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>